html{
    font-size: 2vw;
}
h1{
    text-align: center;
    font-size: 4rem;
    color: red;
}
body{
    background-color: yellow;
}
div{
    margin: 10% 20% 10% 20%;
    background-color: cornflowerblue;
}
button{
    background-color: coral;
    width: 50%;
    margin:2% 20% 2% 22%;
    /* height: 100px; */
    font-size: 2rem;
    font-weight: 900;
}